::-moz-selection {
  color: white;
  background: var(--bs-info);
}

::selection {
  color: white;
  background: var(--bs-info);
}


#features .row .bi {
  font-size: 40px;
}

#features .row .icon {
  margin-top: -10px;
}

pre {
  overflow: visible;
  margin: 0;
}

code.compact {
  padding: 4px 10px !important;
}

.editor-height{
  min-height: 240px !important;
}

.min {
  /* https://stackoverflow.com/questions/26983301/how-to-make-a-table-column-be-a-minimum-width */
  width: 1%;
  white-space: nowrap;
}