::-moz-selection {
  color: white;
  background: var(--bs-info);
}

::selection {
  color: white;
  background: var(--bs-info);
}


.row .bi {
  font-size: 40px;
}

.row .icon {
  margin-top: -10px;
}

pre {
  overflow: visible;
  margin: 0;
}

code.compact {
  padding: 4px 10px !important;
}